In [1]:
import pandas as pd

In [2]:
data = list('asdahduahudahudjkasncuahduhduahdo')

In [3]:
s = pd.Series(data)
s

0     a
1     s
2     d
3     a
4     h
5     d
6     u
7     a
8     h
9     u
10    d
11    a
12    h
13    u
14    d
15    j
16    k
17    a
18    s
19    n
20    c
21    u
22    a
23    h
24    d
25    u
26    h
27    d
28    u
29    a
30    h
31    d
32    o
dtype: object

In [5]:
s.unique()

array(['a', 's', 'd', 'h', 'u', 'j', 'k', 'n', 'c', 'o'], dtype=object)

In [6]:
s.value_counts()

a    7
d    7
h    6
u    6
s    2
j    1
k    1
n    1
c    1
o    1
dtype: int64

In [7]:
dados = pd.read_csv('dados/aluguel.csv', sep = ';')

In [8]:
dados.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor m2,Tipo Agregado
0,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,53.33,Apartamento
1,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,16.67,Apartamento
2,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,26.00,Apartamento
3,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0,21.43,Apartamento
4,Apartamento,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0,16.67,Apartamento

In [10]:
dados['Tipo'].unique()

array(['Apartamento', 'Casa', 'Casa de Condomínio', 'Casa de Vila',
       'Quitinete'], dtype=object)

In [11]:
dados['Tipo'].value_counts()

Apartamento           16923
Casa de Condomínio      964
Casa                    898
Quitinete               813
Casa de Vila            233
Name: Tipo, dtype: int64