In [1]:
import pandas as pd

# Series

In [2]:
data = [1,2,3,4,5]

In [3]:
s = pd.Series(data)

In [4]:
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [11]:
index = ['Linha ' + str(i) for i in range(len(data))]
index

['Linha 0', 'Linha 1', 'Linha 2', 'Linha 3', 'Linha 4']

In [14]:
s = pd.Series(data, index = index, name = 'Números')

In [15]:
s

Linha 0    1
Linha 1    2
Linha 2    3
Linha 3    4
Linha 4    5
Name: Números, dtype: int64

In [17]:
df_teste = pd.DataFrame(s)

In [18]:
df_teste

         Números
Linha 0        1
Linha 1        2
Linha 2        3
Linha 3        4
Linha 4        5

In [19]:
s + 1

Linha 0    2
Linha 1    3
Linha 2    4
Linha 3    5
Linha 4    6
Name: Números, dtype: int64

# DataFrames

In [79]:
data = [[1,2,3],
         [4,5,6], 
         [7,8,9]]

In [80]:
df1 =pd.DataFrame(data)
df1

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [81]:
index = ['Linha ' + str(i) for i in range(len(data))]

In [82]:
columns = ['Coluna ' + str(i) for i in range(len(data))]

In [83]:
df1 = pd.DataFrame(data, index = index, columns = columns)
df1

         Coluna 0  Coluna 1  Coluna 2
Linha 0         1         2         3
Linha 1         4         5         6
Linha 2         7         8         9

In [94]:
data = {'Coluna 0': {'Linha 0': 1, 'Linha 1': 4, 'Linha 2': 7},
        'Coluna 1': {'Linha 0': 2, 'Linha 1': 5, 'Linha 2': 8},
        'Coluna 2': {'Linha 0': 3, 'Linha 1': 6, 'Linha 2': 9}}

In [95]:
df2 = pd.DataFrame(data)
df2

         Coluna 0  Coluna 1  Coluna 2
Linha 0         1         2         3
Linha 1         4         5         6
Linha 2         7         8         9

In [96]:
data = [(1, 2, 3), 
        (4, 5, 6), 
        (7, 8, 9)]

In [97]:
df3 = pd.DataFrame(data, index = index, columns = columns)
df3

         Coluna 0  Coluna 1  Coluna 2
Linha 0         1         2         3
Linha 1         4         5         6
Linha 2         7         8         9

In [98]:
df1[df1 > 0] = 'A'
df1

TypeError: '>' not supported between instances of 'str' and 'int'

In [99]:
df2[df2 > 0] = 'B'
df2

        Coluna 0 Coluna 1 Coluna 2
Linha 0        B        B        B
Linha 1        B        B        B
Linha 2        B        B        B

In [100]:
df3[df3 > 0] = 'C'
df3

        Coluna 0 Coluna 1 Coluna 2
Linha 0        C        C        C
Linha 1        C        C        C
Linha 2        C        C        C

In [101]:
df4 = pd.concat([df1, df2, df3])
df4

        Coluna 0 Coluna 1 Coluna 2
Linha 0        A        A        A
Linha 1        A        A        A
Linha 2        A        A        A
Linha 0        B        B        B
Linha 1        B        B        B
Linha 2        B        B        B
Linha 0        C        C        C
Linha 1        C        C        C
Linha 2        C        C        C

In [103]:
df4 = pd.concat([df1, df2, df3], axis = 1)
df4

,Coluna 0,Coluna 1,Coluna 2,Coluna 0,Coluna 1,Coluna 2,Coluna 0,Coluna 1,Coluna 2
Linha 0,A,A,A,B,B,B,C,C,C
Linha 1,A,A,A,B,B,B,C,C,C
Linha 2,A,A,A,B,B,B,C,C,C